:root {
  --color-primary: #086710;
  --color-secondary: #6a9c89;
  --color-secondary-light: #c1d8c3;
  --color-secondary-lighter: #f4efe9ac;
  --color-black-dark: #000000;
  --color-black-light: #434345;
  --color-black-lighter: #5e535e;
  --color-white-light: rgb(248, 246, 246);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
}

body {
  font-size: 1.6rem;
  color: var(--color-black-dark);
  font-family: "Roboto Flex", sans-serif;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
